In [ ]:
import pandas as pd

invoices_df = pd.read_csv("fct_invoice.csv")
customers_df = pd.read_json("dim_customer.json")

invoices_df.head()

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon

In [ ]:
unique_customers = customers_df['id'].nunique()
unique_customers

5191

In [ ]:
unique_categories = invoices_df['category'].unique()
num_categories = len(unique_categories)
(unique_categories, num_categories)

(array(['Clothing', 'Shoes', 'Books', 'Cosmetics', 'Food & Beverage',
        'Toys', 'Technology', 'Souvenir'], dtype=object),
 8)

In [ ]:
payment_counts = invoices_df['payment_method'].value_counts()
most_popular = payment_counts.idxmax()
count = payment_counts.max()
(most_popular, count)

('Cash', 44447)